/*-----------------------------------------------------------------------------------*/
/* - Theme Responsiveness
/*-----------------------------------------------------------------------------------*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
   /* IPAD */ 
    .sticky-navigation-wrapper .main-navigation {
        display: none;
    }
    
    .sticky-navigation-wrapper .button-menu-mobile {
        display: inline-block;
    }
    
    #close-sidebar-nav i {
        display: inline-block;
    }

    /* hide desktop hamburger menu in mobile */
    .sticky-navigation-wrapper .button-menu-desktop-sticky {
        display: none;
    }
}

@media only screen and (min-width: 1240px) {
	.container {
		width: 1180px;
	}

	#sidebar {
		width:350px;
	}

	#sidebar .widget {
		padding: 30px 30px;
	}

	#sidebar .about-widget .img  {
		margin: 0px 30px 30px;
	}

	.container.sidebar-open #content {
		width: 800px;
	}
        
        .list-layout .post-featured-item.full {
		width: 100%;
	}
        
        .sidebar-open .list-layout .post-featured-item.full {
		width: 100%;
                position: relative;
	}

	.sidebar-open .list-layout .post-featured-item {
		width: 355px;
	}

	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper, .sidebar-open .list-layout .post.format-gallery .post-entry-wrapper, .sidebar-open .list-layout .post.format-video .post-entry-wrapper, .sidebar-open .list-layout .post.format-audio .post-entry-wrapper  {
		width: 445px;
	}

	.list-layout .post-featured-item {
		width: 530px;
	}

	.list-layout .post.has-post-thumbnail .post-entry-wrapper, .list-layout .post.format-gallery .post-entry-wrapper {
		width: 650px;
	}
        
        .container:not(.sidebar-open) .list-layout .post.has-post-thumbnail .post-entry-wrapper, .container:not(.sidebar-open) .list-layout .post.format-gallery .post-entry-wrapper {
		width: 700px;
	}

	#top-social-items .social-text {
                display: inline-block;
	}
        
        .list-layout .fotorama:not(.fotorama--fullscreen) .fotorama__arr {
               
        }
        
        .container.sidebar-open .related-post-image {
                height: 160px;
        }
        
         .related-post-image {
                height: 240px;
        }

}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    
        .container.sidebar-open .related-post-image {
                height: 127px;
        }
        
        .related-post-image {
                height: 190px;
        }
        
        #respond p[class*="comment-form"] {
                margin-right: 11px;
        }
}

@media only screen and (max-width: 1023px) {

	body {
		overflow-x:hidden;
	}

	.container {
		width:84%;
		max-width: 630px;
	}

	.main-navigation-wrapper .container {
		position: relative;
	}
        
        #header {
            overflow: hidden;
        }
	
	.header-1.main-navigation-wrapper .main-navigation, .header-2.main-navigation-wrapper .main-navigation, .header-3 .main-navigation-wrapper .main-navigation,  .main-navigation-wrapper.header-4 .main-navigation, .sticky-navigation-wrapper .main-navigation {
		display:none;
	}
        
        #main-header.header-3 {
                    padding: 0;
        }
        
        .main-navigation-wrapper.header-2 .container {
                text-align: left;
        }

	.top-search-area {
		width:auto;
		margin-right:5px;
		margin-left:5px;
	}
        
        .logo-sticky-menu {
                display: none;
        }
        
        .header-2 .mobile-search-area, .header-2 #mobile-social-items, .header-3 .mobile-search-area, .header-3 #mobile-social-items, .header-4 .mobile-search-area, .header-4 #mobile-social-items, .sticky-navigation-wrapper #mobile-social-items {
                display: inline-block;
        }
        
        .header-2.secondary-navigation-wrapper, .header-3.secondary-navigation-wrapper, .header-4.secondary-navigation-wrapper {
                display: none;
        }
        
        #main-header.header-3 #main-top-wrapper {
                padding: 30px 0 0;
                float: none;
                width: 100%;
                border-top: 1px solid rgb(238,238,238);
        }
        
        .header-3 .main-navigation-wrapper {
                width: 100%;
                float: none;
        }
        
        #main-header.header-4 #main-top-wrapper {
                padding: 30px 0 0;
                float: none;
                width: 100%;
        }
        
        .header-3 .main-navigation-wrapper, .header-4 .main-navigation-wrapper {
                width: 100%;
                float: none;
        }
        
        .header-3 .container-logo, .header-4 .container-logo {
                float: none;
                width: 100%;
                display: block;
        }
        
        .header-3 .container-banner, .header-4 .container-banner {
                float: none;
                width: 100%;
                display: block;
                padding-top: 20px;
        }
        
        .header-3 .container-separator, .header-4 .container-separator {
                display: none;
        }
        
        .sticky-navigation-wrapper {
                width: 100%;
                float: none;
        }
        
        #close-sidebar-nav i {
                display: inline-block;
        }
        
        .main-navigation-wrapper .button-menu-mobile, .sticky-navigation-wrapper .button-menu-mobile {
                display: inline-block;
        }
        
	#top-social-items .social-text { 
                display: none;
	}
	
	#logo img {
		max-width:100%;
		height:auto;
	}

	.related-posts .item {
		margin-bottom:3.5%;
	}
	
	#footer-widget-area .widget-columns {
		width:100%!important;
		margin-right: 0!important;
		margin-bottom: 80px;
	}

	#footer-widget-area .widget-columns.last {
		margin-bottom: 0;
	}
	
	.widget img {
		max-width:100%;
		height:auto;
	}
	
	.widget iframe {
		max-width:100% !important;
		height:auto;
	}
	
	.wpcf7 input {
		width:100%;
	}

	.container.sidebar-open #content{
		width: 100%;
		float:none !important;
	}

	.grid-layout .post-item {
		width: 50%!important;
	}

	#sidebar {		
		width:100%;
		margin:65px auto 0;
		max-width:500px;
		float:none!important;
		min-height: 0!important;
	}

	.theiaStickySidebar {
		position: static!important;
	}

	.layout-title {
		max-width:60%;
	}

	.slider-home-area .slider-item h2, .slider-home-area .slider-item h2 a {
		font-size: 20px;
	}

	.slider-home-area .item-header-wrapper {
		padding: 50px 35px 42px;
	}

	.featured-posts ul li, .featured-posts.column-2 ul li, .featured-posts.column-3 ul li, .featured-posts.column-4 ul li {
		width: 50%;
		margin-bottom: 30px;
	}

	.fotorama__wrap {
		margin: 0 auto;
	}

	.featured-posts-container {
		margin-bottom: 0;
	}

	.list-layout .post.has-post-thumbnail .post-entry-wrapper .post-list-text-content, .list-layout .post.format-gallery .post-entry-wrapper .post-list-text-content, .list-layout .post.format-video .post-entry-wrapper .post-list-text-content, .list-layout .post.format-audio .post-entry-wrapper .post-list-text-content {
		padding: 35px;
	}
	
	.format-quote .post-entry blockquote,
	.format-link .post-entry a {
		margin:0;
	}
	
	.format-quote .post-entry,
	.format-link .post-entry	{
		padding:0;
	}
        
        .container.sidebar-open .related-post-image {
                height: 126px;

        }
        
        .related-post-image {
                height: 236px;
        }
        
        .main-navigation-wrapper.header-4 {
            overflow: hidden;
        }
	
        .cart-contents {
            margin-left: 5px;
        }
               
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
	
	.related-posts .item {
		width:47%;
	}
        
        .container.sidebar-open .related-post-image {
                height: 195px;
        }
        
        .related-post-image {
                height: 195px;
        }

	.related-posts .item:nth-child(2n){
		margin-right: 0;
	}

	.list-layout .post-featured-item, 
	.sidebar-open .list-layout .post-featured-item,
        .container:not(.sidebar-open) .list-layout .post-featured-item:not(.full){
		width: 260px;
	}
	
	.list-layout .post.has-post-thumbnail .post-entry-wrapper, .list-layout .post.format-gallery .post-entry-wrapper, .list-layout .post.format-video .post-entry-wrapper, .list-layout .post.format-audio .post-entry-wrapper,
	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper, .sidebar-open .list-layout .post.format-gallery .post-entry-wrapper, .sidebar-open .list-layout .post.format-video .post-entry-wrapper, .sidebar-open .list-layout .post.format-audio .post-entry-wrapper {
		width: 365px;
	}

	.list-layout .post-header h2 a
	.sidebar-open .list-layout .post-header h2 a {
		font-size: 18px;
	}

	.slider-home-area .slider-item h2,
	.slider-home-area .slider-item h2 a {
		max-width: 380px;
	}

	.slider-home-area .slider-item {
		height: 425px;
	}
        
        .container.sidebar-open .related-post-image {
                min-height: 197px;
        }
        .container.sidebar-open .related-post-image {
                height: 197px;

        }       
        .related-post-image {
                height: 236px;
        }
        
        #respond p[class*="comment-form"] {
                margin-right: 11px;
        }
}



@media only screen and (max-width: 782px) { 
	.gallery.gallery-columns-3 .gallery-caption {
		display: none;
	}

	.slider-home-area .item-link {
		padding: 10px 40px 50px
	}
}

/*************************************************
*	Mobile Portrait								 *
*************************************************/

@media only screen and (max-width: 767px) {
    
        .cart-contents {
            display: none;
        }
        .author-content {
                width: 100%;
                margin: 0 15px;
        }
        
        #respond p[class*="comment-form"] {
                width: 100%;
                float: none;
        }
        
	.single .post-header h1 a, .single .post-header h1, .page .post-header h1 a, .page .post-header h1 {
		font-size: 24px;
		max-width: 100%;
	}

	.featured-posts ul li, .featured-posts.column-2 ul li, .featured-posts.column-3 ul li, .featured-posts.column-4 ul li {
		width: 100%;
	}

	.footer-menu.nav-menu {
		margin-bottom: 15px;
	}

	.footer-menu.nav-menu > li {
		float: none;
		display: inline-block;
	}

	.footer-menu.nav-menu > li > a {
		line-height: 28px;
	}
	
	.related-posts .item {
		width:100%;
		margin-right: 0;
		margin-bottom:30px;
	}

	#respond input[type="text"], #respond input[type="email"] {
		width: 100%;
	}
	
	.thecomment .author-img {
		display:none;
	}

	.grid-layout .post-item {
		width: 100%!important;
	}
	
	.post-entry, .post-share, .post-author,
	.related-posts,	.post-comments, 
	.list-layout .post.has-post-thumbnail .post-entry-wrapper .post-list-text-content, .list-layout .post.format-gallery .post-entry-wrapper .post-list-text-content,
         .list-layout .post.format-video .post-entry-wrapper .post-list-text-content, .list-layout .post.format-audio .post-entry-wrapper .post-list-text-content, .grid .post-entry, .post-tags {
		padding:25px;
	}
	
	.post-author,
	.related-posts,	.post-comments {
		margin-top:25px;
	}

	.post-entry-bottom {
		text-align: center;
	}

	.post-entry-bottom a.custom-more-link, .post-share,
	.post-tags {
		float: none;
                width: 100%;
                text-align: center;
                    
	}

	.post-entry-bottom a.custom-more-link {
		display: inline-block;
	}

	.like-comment-buttons-wrapper {
		display: block;
		width: 100%;
	}

	.post-share {
		display: block;
	}

	.post-share:hover ul {
		display: block;
	}

	.post-share li.share-item {
		position: static;
		display: inline-block;
	}

	.post-author .author-img {
		position: static;
		width:100%;
		margin-top:0;
		margin-bottom: 15px;
		text-align: center;
	}

	.post-author .author-content {
		text-align: center;
		padding:0;
	}
	
	.post-comments ul.children {
		margin:0;
		padding-left: 18px;
	}

	.pagination .older, .pagination .newer {
		float: none;
	}

	.pagination .older {
		margin-bottom: 10px;
	}

	.pagination .older a, .pagination .newer a {
		display: block;
		text-align: center;
	}

	.slider-home-area .item-header-wrapper {
		max-width: 80%;
		padding:36px 17px 28px;
	}


	#alternate-widget-area .null-instagram-feed .instagram-pics li {
		width: 25%!important;
	}

	#alternate-widget-area .null-instagram-feed .instagram-pics li:nth-child(8), 
	#alternate-widget-area .null-instagram-feed .instagram-pics li:nth-child(7), 
	#alternate-widget-area .null-instagram-feed .instagram-pics li:nth-child(6), 
	#alternate-widget-area .null-instagram-feed .instagram-pics li:nth-child(5) {
		display: none;
	}

	#alternate-widget-area .null-instagram-feed .widget-title, #alternate-widget-area .null-instagram-feed p.clear {
		display: none;
	}

	.list-layout .post-featured-item, 
	.sidebar-open .list-layout .post-featured-item,
        .container:not(.sidebar-open) .list-layout .post-featured-item:not(.full){
		width: 100%;
		margin-right: 0;
	}
	
	.list-layout .post.has-post-thumbnail .post-entry-wrapper, .list-layout .post.format-gallery .post-entry-wrapper, .list-layout .post.format-video .post-entry-wrapper, .list-layout .post.format-audio .post-entry-wrapper,
	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper, .sidebar-open .list-layout .post.format-gallery .post-entry-wrapper, .sidebar-open .list-layout .post.format-video .post-entry-wrapper, .sidebar-open .list-layout .post.format-audio .post-entry-wrapper {
		width: 100%;
	}

	.list-layout .like-comment-buttons-wrapper {
		text-align: left;
		margin-top: 20px;
		line-height: 1;
	}

	.post-header {
		margin-bottom: 25px;
	}

	.post.article-item {
		margin-bottom: 30px;
	}

	.pagination, .full-container .pagination {
		margin-top: 25px;
	}

	.slider-home-area .slider-item {
		height: 350px;
	}
        
        #footer-newsletter {
                padding: 70px 0;
        }
        
        #footer-copyright p {
                font-size: 10px;
        }
        
        .container.sidebar-open .related-post-image {
                height: auto;
        }
        
        .related-post-image {
                height: auto;
        }
        
        .tribe-events-list .tribe-events-event-image, #tribe-events-day .tribe-events-event-image {
            width: 100%;
            margin: 0;
            float: none;
        }
        
        .tribe-events-list .type-tribe_events h2 {
            display: block;
            margin-bottom: 10px;
        }
        
        .tribe-events-loop .tribe-events-event-meta {
            padding-left: 0;
        }
        
        .tribe-events-loop .tribe-events-event-meta .tribe-event-schedule-details {
            padding-left: 10px;
        }
        
        #tribe-events-day .tribe-events-event-image + div.tribe-events-content {
            float: none;
            position: relative;
            width: 100%;
        }
        
        #tribe-mobile-container .type-tribe_events .tribe-events-event-image {
            width: 100%;
            margin: 0;
            float: none;
        }
        .tribe-events-event-schedule-details {
            background: #fafafa;
            border: 1px solid #eee;
            margin-top: 12px;
            padding: 12px 10px 15px;
            border-left: 3px solid #00a8b5;
            clear: both;
            float: none;
            font-weight: bold;
            line-height: 1.5;
            margin: 5px 0 15px 0;
            overflow: visible;
            display: block;
        }
        .tribe-events-sub-nav li a {
            display: block;
            color: inherit;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 15px 17px;
            border: 1px solid #CECECE;
            background-color: transparent;
        }
        
        .tribe-events-sub-nav li a:visited {
            color: inherit;
        }
               
        .tribe-events-sub-nav li a:hover {
            background-color: #CECECE;
            border-color: transparent;
            color: inherit;
        }
        
        #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous {
            width: 100%;
        }
        
        #tribe-events-header::before, #tribe-events-header::after, #tribe-events-footer::before, #tribe-events-footer::after {
            background-color: transparent;
        }
        
        #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav li, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous {
            text-align: center;
            float: none;
            margin-bottom: 10px;
        }
        
        .tribe-events-sub-nav .tribe-events-nav-left a span {
            display: initial;
            content: '\ab';
            position: inherit;
            left: 0;
            top: 0;
        }
        .tribe-events-sub-nav .tribe-events-nav-right a span {
            display: initial;
            position: inherit;
            left: 0;
            top: 0;
        }
        #tribe-mobile-container .type-tribe_events h4 {
            font-size: 1.6em;
            margin: 0 0 10px;
            line-height: 1.35;
        }
        
        #tribe-events {
            padding: 30px 20px;
        }
        
        .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
            width: 100%;
        }
        
        
}

@media only screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}

	#main-top-wrapper {
		padding: 40px;
	}

	#top-social-items .social-text {
		display: none;
	}
        .masonry-item-footer .sub-meta-container{
                float: none;
                width: 100%;
        }
        .masonry-item-footer .comment-like-container{
                float: none;
                width: 100%;
                top: 5px;
        }
        #footer-copyright #footer-social-items-inner a{
                font-size: 20px;
        }
        
        #main-header.header-1  #main-top-wrapper, #main-header.header-2  #main-top-wrapper, #main-header.header-3  #main-top-wrapper, #main-header.header-4  #main-top-wrapper {
            padding: 30px 30px 10px;
        }
        
        .featured-area {
                margin-bottom: 15px;
        }
        
        .tribe-events-calendar thead{
            display: none;
        }
        
        .tribe-events-calendar tbody{
            border-top: 1px solid #d2d2d2;
        }
                

}

/*************************************************
*	10. Landscape								 *
*************************************************/

@media only screen and (min-width: 481px) and (max-width: 767px) {	
}

@media only screen and (max-width: 480px) {
        
        #logo h1 a.custom-mobile-logo-link, #logo h2 a.custom-mobile-logo-link {
                display: block;
        }
        
        #logo h1 a.custom-logo-link, #logo h2 a.custom-logo-link  {
                display: none;
        }
        
        #logo h3 {
                font-size: 12px;
        }
        
	body {
		font-size: 13px;
	}

	h1 {
		font-size:23px;
	}

	h2 {
		font-size:20px;
	}

	h3 {
		font-size:18px;
	}

	h4 {
		font-size:17px;
	}

	h5 {
		font-size:16px;
	}

	h6 {
		font-size:14px;
	}
        
        #logo h2{
                margin: 0;
        }

	#main-container {
		padding-bottom: 30px;
	}

	#sidebar {
		margin-top:30px;
	}

	.layout-title {
		max-width: 80%;
	}

	.featured-area[data-slider-type="slider"] .swiper-button-prev-custom, .featured-area[data-slider-type="slider"] .swiper-button-next-custom {
		display: none;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper {
	    padding: 22px 17px;
	}

	.featured-area .swiper-button-next-custom {
		right: -21px;
	}

	.featured-area .swiper-button-prev-custom {
		left: -21px;
	}

	.featured-area .slider-item .btn-wrapper {
		display:none;
	}

	.featured-area[data-slider-type="slider"] .slider-item h2, .featured-area[data-slider-type="slider"] .slider-item h2 a {
		font-size: 17px;
		line-height: 1.4;
	}

	.featured-area[data-slider-type="slider"] .slider-item h2:after {
		margin-top: 7px;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper .item-postit {
		font-size: 10px;
		margin-bottom: 3px;
	}
	.featured-area[data-slider-type="slider"] .date-author {
		font-size: 11px;
		margin-top: 7px;
	}

	.post-header h1 a, .post-header h2 a, .post-header h1, .post-header h2, 
	.sidebar-open .post-header h1, .sidebar-open .post-header h2, 
	.sidebar-open .post-header h1 a, .sidebar-open .post-header h2 a, .post-item .item h2 a {
		max-width:100%;
		width: 100%;
		font-size: 21px !important;
		line-height: 1.3;
	}

	.featured-area[data-slider-type="slider"] .slider-item {
		height: 250px !important;
	}
	
	.container {
		width: 85%;
	}

	.post-header h1, .post-header h2 {
		padding: 0;
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
	}

	.post-header .date-author p {
		display:block;
	}

	blockquote p {
		font-size: 15px;
	}

	.format-quote .post-entry blockquote,
	.format-link .post-entry a {
		padding: 30px;
	}

	.mejs-overlay-button {
		width: 50px;
		height: 50px;
		margin: -25px 0 0 -25px;
		background-size:cover;
	}

	.page-introduce-title {
		font-size: 15px;
	}

	.archive-title-area {
		padding: 35px 0;
	}

	.author-content p {
		font-size: 13px;
	}

	.post-author .box-title-area .title {
		font-size: 14px;
	}

	.box-title-area .title {
		line-height: 1.5;
		font-size: 14px;
	}

	.comment-item .comment-text span.author, .comment-item .comment-text span.author a {
		font-size: 14px;
	}

	.post-share .share-box {
		width:30px; 
		height:30px;
		line-height: 31px;
		font-size: 12px;
	}

	.pswp__caption {
		bottom: 0;
	}

	.pswp__caption__center {
		width: 100%;
	}

	.format-quote .post-entry blockquote p, .format-link .post-entry a {
		font-size: 20px;
	}

	.search-form-area .search-form .search {
		height: 60px;
		line-height: 60px;
		font-size: 20px;
	}
        
        #footer-newsletter input[type="text"], #footer-newsletter input[type="email"], #footer-newsletter textarea{
                width: 90%;
        }
        
        .error-404{
                padding: 60px 0;
                font-size: 110px;
        }
        
        .icon-video {
                top:23%;
        }
}
